<%= content_tag :header, class: "header" do %>
  <%= content_tag :div do %>
    <%= link_to root_path do %>
      <h1 class="logo" data-role="logo">Snack Logo</h1>
    <% end %>
  <% end %>
<% end %>
