<h1>Request a New Snack</h1>
<p>We can't promise we'll get it, but suggest a snack and we'll do our best!</p>
<p>Sincerely,</p>
<p>Your Admin Team</p>
<%= render partial: 'form', locals: { include_date: false } %>
