<div class="fullWidthRow footer">
	<div class="row footerContent">
		<div class="small-4 columns">
			<a href="https://github.com/nerdgrass/groupize_design_problem" target="_blank" alt="Source Code for Groupize's design problem">Source Code</a>
		</div>
		<div class="small-4 columns">
			<a href="humans.txt" target="_blank" alt="Who built the Groupize design problem and why">Credits</a>
		</div>
		<div class="small-4 columns">
			<a href="http://www.groupize.com" target="_blank" alt="Groupize, Group Travel Made Easy"><img src="/assets/groupize-logo.png"></a>
		</div>
	</div>
</div>